{% extends 'base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/buttons.css' %}">
<link rel="stylesheet" href="{% static 'css/sections.css' %}">
<link rel="stylesheet" href="{% static 'css/background.css' %}">
<link rel="stylesheet" href="{% static 'css/fonts.css' %}">

<section class="indent" style="margin-top: 50px; margin-bottom: 100px">
  <h1>About Us</h1>
  <p class="indent-big" style="justify-content: all;">We’ve all been impacted by Covid-19. Safe.t was brought to life by a rag-tag group of people who wanted to help combat this epidemic - with technology. Our vision is to make a closed-loop system that bring together hospitals, government health agencies, and individuals. We want to give individuals the access and knowledge to help themselves stay safe, and get medical help if and when they need it. We want to provide government health officials up to date data so they can keep on top of resource allocation to hospitals in their districts, as well as pertinent information as to the trends in high traffic areas that cause higher infection rates. In addition, many hospitals are getting overcrowded and running out of inventory for important supplies. We aim to combat these issues with a clear communication to their government officials, and a seamless booking process.</p>
  <button class="dark" style="margin-left: 8%; margin-top: 5%; display: inline-block;">Use Our Solution</button>
  <button class="teal" style="margin-left: 8%;display: inline-block;">Donate</button>
</section>

{% endblock %}
