{% load static %}
<link rel="stylesheet" href="{% static 'css/background.css' %}">
<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/sections.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<footer>
	<div class="row">
  		<div class="column">
        <div>
    		  <h2>Mobile App</h2>
    		  <ul class="footer">
          <!-- <li><p>Mobile App</p></li> -->
    			 <li><a href="/how-it-works/">How It Works</a></li>
    			 <li><a href="/faq/">FAQ</a></li>
    		  </ul>
        </div>
  		</div>
  		<div class="column">
    		<h2>Organization</h2>
    		<ul class="footer">
          <!-- <li><h2>Organization</h2></li> -->
    			<li><a href="/about/">About Us</a></li>
    			<li><a href="#">News</a></li>
    		</ul>
 		 </div>
  		<div class="column">
    		<h2>Resources</h2>
    		<ul class="footer">
    			<li><a href="#">Privacy Policy</a></li>
    		</ul>
  		</div>
  		<div class="column">
    		<h2>Get Involved</h2>
    		<ul class="footer">
    			<li><a href="#">Use Our Solution</a></li>
    			<li><a href="/join-us/">Join Us</a></li>
    			<li><a href="#">Contact Us</a></li>
    		</ul>
  		</div>
  		<div class="column">
    		<a href='/donate/'><button class="donate">Donate now!</button></a>
  		</div>
	</div>
</footer>