{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/buttons.css' %}">
<link rel="stylesheet" href="{% static 'css/sections.css' %}">
<link rel="stylesheet" href="{% static 'css/background.css' %}">
<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
<link rel="stylesheet" href="{% static 'css/email-form.css' %}">

<section style="background-color: #ECFDF9; margin-top: 0px; padding-bottom: 50px; padding-top: 20px">
  <div class="row2banner" style="margin-left: 7%">
    <div class="column2banner text-col">
        <h1>Safety starts with Safe.t</h1>
        <p class="indent-big" style="margin-bottom: 0px; margin-top: 20px">We wish to give individuals the access and knowledge to help themselves stay safe while assisting government health officials up to date with data so they can keep on top of resource allocation to hospitals in their districts. </p>
        <p class="indented" style="margin-top: 30px; font-style: italic;">Join us and we'll help keep you safe!</p>
        <p class="indented" style="margin-top: 30px;">Let's notify you when we launch</p>
        <div>
        <!-- make the form -->
        <form action="/action_page.php" style="margin-left: 7%">
            <input type="email" id="email" name="email" placeholder="Email address">
        
            <input type="submit" value="Join Waitlist">
        </form>
        </div>
    </div>
    <div class="column2banner img-col">
      <section class="img">
        <img src="{% static 'images/banner-img.png' %}" alt="test" height="450px" width="415px" class="banner">
      </section>
    </div>
  </div>
</section>

<section class="indent">
  <h1 style="text-align: center;margin-bottom: 50px">Why CoCoMed?</h1>
  <div class="row4">
      <div class="column4">
        <div class="header-container">
          <div class="img-box"></div>
          <h4 style="margin-bottom: 20px">Crowd-sourced Data</h4>
        </div>
        <p class="indented">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="column4">
        <div class="header-container">
          <div class="img-box"></div>
          <h4 style="margin-bottom: 20px">Privacy First Approach</h4>
        </div>
        <p class="indented">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="column4">
        <div>
          <div class="header-container">
            <div class="img-box"></div>
            <h4 style="margin-bottom: 20px">Proactive Deployment of Resources</h4>
          </div>
        </div>
        <p class="indented">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="column4">
        <div class="header-container">
          <div class="img-box"></div>
          <h4 style="margin-bottom: 20px">Closed Loop System</h4>
        </div>
        <p class="indented">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
  </div>
</section>

<section class="indent">
  <h1 style="text-align: center;margin-bottom: 50px">How It Works</h1>
  <div class="row4">
      <div class="column4">
        <div>
          <div class="circle">1.</div>
          <h4>Always Anonymous</h4>
        </div>
        <p class="indented">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
     <div class="column4">
        <div class="circle">1.</div>
        <h4>Diagnosis Reports</h4>
        <p class="indented">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="column4">
        <div>
          <div class="circle">1.</div>
          <h4>Exposure Alerts and Safe Community</h4>
        </div>
        <p class="indented">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="column4">
        <div class="circle">1.</div>
        <h4>Booking Appointment</h4>
        <p class="indented">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
  </div>
</section>

<section class="indent">
  <h1 style="text-align: center; margin-bottom: 50px">Join Our Team</h1>
  <div class="row2">
      <div class="column2">
        <h3 class="subheader">Volunteer</h3>
      </div>
      <div class="column2">
        <p class="indented">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
  </div>
</section>

<section style="margin-top: 0px; padding-bottom: 50px; padding-top: 20px">
  <div class="row2banner" style="margin-left: 7%">
    <div class="column2banner img-col">
      <section class="img">
        <img src="{% static 'images/pencil_img.png' %}" alt="test" width="500px" class="banner">
      </section>
    </div>
    <div class="column2banner text-col">
        <h1>Join Us!</h1>
        <div class="row2">
          <div class="column2-left">
            <h3 class="subheader">Volunteer</h3>
          </div>
          <div class="column2-right">
            <p class="indented">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
        <div>
        <!-- make the form -->
        <form action="/action_page.php" style="margin-left: 7%">
            <input type="email" id="email" name="email" placeholder="Email address">
        
            <input type="submit" value="Join Us">
        </form>
        </div>
    </div>
  </div>
</section>


<section style="margin-top: 0px; padding-bottom: 50px; padding-top: 20px">
  <div class="row2banner" style="margin-left: 7%">
    <div class="column2banner text-col">
        <h1>Support Us</h1>
        <h2 class="bold" style="margin-bottom: 25px;">Effort is free, servers aren’t</h2>
        <p class="indent-big">We’re a startup made up of volunteers, trying our best to help our communities stay safe! But we need your help. Unfortunately, we can’t do it all with goodwill. In order to alleviate operational costs such as the cost to host and run our websites, and the server costs for the app, we need donations from kind individuals like YOU! Please consider giving a donation. Every penny helps!</p>
        <button class="teal" style="margin-left: 7%; margin-top: 5%; display: inline-block;">Donate</button>
    </div>
    <div class="column2banner img-col">
      <section class="img">
        <img src="{% static 'images/graph_img.png' %}" alt="test" width="300px" class="banner">
      </section>
    </div>
  </div>
</section>

{% endblock %}