{% load static %}
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<nav class="navbar navbar-light bg-light" style="text-align: center">
  <div class="container-fluid" style="padding-right: 7%; padding-left: 7%;">
    <div class="navbar-header">
      <!-- navbar dropdown icon when condensed -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <!-- logo icon that leads to homepage -->
      <a class="navbar-brand" href="/" style="padding-top: 0px; margin-top: 0px">
        <img class= "nav-logo" src="{% static 'images/Safe.t_Logo-01.png' %}" alt="test">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" style="padding-top: 10px; padding-bottom: 10px;">
      <ul class="nav navbar-nav navbar-right">
        <!-- other links in navbar -->
        <li><a href="/how-it-works/">How it Works</a></li>
        <li><a href="/faq/">FAQ</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/donate/">Donate</a></li>
      </ul>
    </div>
  </div>
</nav>


